.about-us {
  margin-top: 190px;
  margin-bottom: 120px;

  @include content-padding-inline;

  @include on-tablet {
    margin-top: 228px;
  }

  @include on-small-desktop {
    margin-top: 148px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: $color-for-light-bg;
  }

  &__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: $color-for-light-bg-description;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }
  }
}
